@import "_settings";
@import "_config";
@import "_mixins";

body {
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#mainContent {
    position: relative;

    width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: border-box;

    cursor: pointer;
    transform: rotate(0deg);

    text-align:center;
    border: 1px solid black;
    background: $backgroundColor ;
    background-size: cover;

    div,img{
        position: absolute;
    }
}
#box{
  left: 60px;
    top: 40px;
    transform-origin: 50% 50%;
    width:169.3px;
    height:169.3px;
  
}
#outerCircle{
  fill:none;
  stroke:#c0c0c0;
  stroke-width:2;
  stroke-miterlimit:10;
  stroke-dashoffset:1000;
  stroke-dasharray: 1000; 
}
.inner{
    position: absolute;
    top: 44px;
    left: 42px;
}
#innerCircle{
  position: absolute;
  fill:none;
  stroke:#c0c0c0;
  stroke-width:2;
  stroke-miterlimit:10;
  stroke-dashoffset:1000;
  stroke-dasharray: 1000;
}

#rect{
  fill:none;
  stroke:#C0C0C0;
  stroke-width:2;
  stroke-miterlimit:10;
  stroke-dashoffset:1200;
  stroke-dasharray: 1200;
}
.outerPath,.innerPath{
  fill:none;
  stroke:#00d382;
  stroke-width:5;
  stroke-miterlimit:10;
  stroke-dashoffset:1200;
  stroke-dasharray: 1200;
}
#vLines{
    top: 1px;
    left: 39px;
    width: 138px;
    height: 138px;
    
}
#hLines{
  top: 41px;
    left: 1px;
  width:138px;
  height:138px;

}
.drawLine{
    width:1px;
    background:#c0c0c0;

}
.drawhLine{
    height:1px;
    background:#c0c0c0;

}
